<!DOCTYPE html>
<html ng-app="PhotoPage">
  <head>
    <meta charset="utf-8">
    <title>Photo Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js" charset="utf-8"></script>
  </head>
  <body>

    <div class="container" ng-controller="AdminController">

    <div class="row">
      <div class="twelve columns">
        <h1 class="page-header">Macaloin</h1>
      </div>
    </div>

      <ul class="admin-links text-center">
        <li class="photos" ng-click="toggleSection($event)" id="photos">Photos</li>
        <li class="updates" ng-click="toggleSection($event)" id="blogs">Updates</li>
      </ul>

    <section ng-controller="PhotosController" ng-if="$root.page == 'photos'">
      <div class="row">
        <div class="twelve columns text-center">
          <div ng-repeat="photo in photos">
            <div class="photo-container">
              <div class="photo-link">
                <img src="{{photo.url}}" />
              </div>
              <a class="waves-effect waves-light btn red accent-2 right" ng-click="removePhoto(photo)">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section ng-controller="BlogsController" ng-if="$root.page == 'blogs'">
           <div class="row">
             <div class="twelve columns text-center">
               <div class="post" ng-repeat="blog in blogs">
                 <div class="post-title">{{blog.title}}</div>
                 <div class="post-body">{{blog.message}}</div>
                 <div class="post-tags">{{blog.tags}}</div>
                 <div class="post-date">{{blog.date}}</div>
               </div>
         </div>
       </div>
    </section>


  </div>



    <script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
